.headerLayaout {
    min-height: 10vh;
    background-color: var(--colorITemForecast);
    margin-bottom: 20px;
}

.navHeaderLayout {
    width: 100%;
    height: 10vh;
}
.listaNavHeader {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    list-style: none;
    text-decoration: none;
}
.linksNavHeader {
    text-decoration: none;
    color: #000;
}

.ulHome {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
}
.liHome {
    text-decoration: none;
    list-style: none;
}
.linkHome {
    text-decoration: none;
}

.divInput {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    gap: 20px;
    padding-top: 20px;
}
.inputForecast {
    padding: 6px;
}

.containerDaysWeek {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
}
.ulDaysHours {
    display: flex;
    height: 50vh;
    overflow-x: scroll;
    align-items: center;
    /* background-color: var(--colorITemForecast); */
    margin-inline: 10px;
    position: relative;
}
.ulDaysHours::-webkit-scrollbar {
    height: 10px;
}

.ulDaysHours::-webkit-scrollbar-thumb {
    background-color: #06ad89;
    border-radius: 1px;
}
.ulDaysHours::-webkit-scrollbar-track {
    background-color: #000;
}
.containerDaysHours {
    display: flex;
    max-width: 100vw;
    align-items: center;
    justify-content: center;
}
.itemDayWeek {
    list-style: none;
    border-right: 1px solid #d2d2d2;
    min-width: 14%;
    background-color: var(--colorITemForecast);
    height: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.itemDayWeek:hover {
    opacity: 0.7;
}
.itemdayHours {
    list-style: none;
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-right: 1px solid #000;
    height: 100%;
    cursor: pointer;
    background-color: var(--colorITemForecast);
    position: relative;
}

.buttonForecast {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.currentDateHours {
    background: #8a9daa;
    position: absolute;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    transform: rotate(-90deg);
    list-style: none;
    left: 0;
}
.leyendaHours {
    opacity: 0.7;
    font-weight: 700;
    margin-inline: 10px;
    margin-bottom: 40px;
}
.containerFullHours,
.containerFullDays {
    max-width: 1200px;
    margin-inline: auto;
}

.divWindHours,
.divPrecipitationHours,
.divPosibilityPrecipitation,
.divHpa {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
.hoverDivHours {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #64c7ff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    display: none;
}
.itemdayHours:hover .hoverDivHours {
    display: flex;
}
.temperatureHours {
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
}
.divTemperaturaHours {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.monthHours {
    font-size: 14px;
    opacity: 0.6;
    font-weight: 700;
    margin-left: 5px;
}
.divWeatherTempDays {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.tempDays {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}
.divCurrentDayHours {
    display: flex;
    align-items: start;
    flex-direction: column;
}

.nameOfDay {
    font-weight: 700;
    padding: 5px;
    width: 100%;
    color: #fff;
}
.isCurrentDay {
    background-color: #fff;
    color: #000;
}
.precPosibilityDays {
    font-weight: 700;
    padding-bottom: 10px;
    font-size: 13px;
}
.numberPropForecast {
    font-weight: 700;
    font-size: 13px;
}
