.headerLayaout {
    min-height: 10vh;
    background-color: var(--colorITemForecast);
}

.navHeaderLayout {
    width: 100%;
    height: 10vh;
}
.listaNavHeader {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    list-style: none;
    text-decoration: none;
}
.linksNavHeader {
    text-decoration: none;
    color: #fff;
}
.itemLiHeader {
    padding: 0.8rem;
    padding-right: 0.7rem;
    padding-left: 0.7rem;
    border-radius: 4px;
    background-color: rgba(39, 57, 112, 0.74);
    cursor: pointer;
    color: #fff;
    transition: all ease 0.4s;
}
.itemLiHeader:hover {
    opacity: 0.8;
}

.ulHome {
    display: flex;
    min-height: 100vh;
}
.ulHome .liHome:first-child {
    background-image: url('../img/dia.avif');
    background-size: cover;
    background-repeat: no-repeat;
    transition: all ease 0.4s;
    color: #000;
    font-weight: 700;
    font-size: 20px;
}
.ulHome .liHome:first-child:hover {
    opacity: 0.8;
    cursor: pointer;
}
.ulHome .liHome:nth-child(2) {
    background-image: url('../img/nightbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    transition: all ease 0.4s;
}
.ulHome .liHome:nth-child(2):hover {
    opacity: 0.8;
    cursor: pointer;
}
.liHome {
    text-decoration: none;
    list-style: none;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.linkHome {
    text-decoration: none;
    text-align: center;
}

.divInput {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
}
.divInput input {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #d1d1d1;
    padding-inline: 20px;
}
.inputForecast {
    padding: 6px;
}

.containerDaysWeek {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
    flex: 1;
}
.ulDaysHours {
    display: flex;
    height: 50vh;
    overflow-x: scroll;
    align-items: center;
    /* background-color: var(--colorITemForecast); */
    position: relative;
    border-radius: 4px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
}
.ulDaysHours::-webkit-scrollbar {
    height: 10px;
    width: 4px;
}

.ulDaysHours::-webkit-scrollbar-thumb {
    background-color: #06ad89;
    border-radius: 1px;
}
.ulDaysHours::-webkit-scrollbar-track {
    background-color: #000;
}
.containerDaysHours {
    display: flex;
    max-width: 100vw;
    align-items: center;
    justify-content: center;
}

.itemdayHours {
    list-style: none;
    min-width: 140px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-right: 1px solid #d2d2d2;
    height: 100%;
    cursor: pointer;
    background-color: var(--colorITemForecast);
    position: relative;
    transition: all ease 0.4s;
}
.itemDayWeek:hover {
    opacity: 0.7;
}
.itemDayWeek {
    list-style: none;
    border-right: 1px solid #d2d2d2;
    /* min-width: 15%; */
    flex-grow: 1;
    background-color: var(--colorITemForecast);
    height: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 4px;
    transition: all ease 0.4s;
}
.buttonForecast {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: 5px;
    transition: all ease 0.4s;
}
.buttonForecast:hover {
    background-color: #d2d2d2f9;
    border-radius: 3px;
}
.currentDateHours {
    background: #8a9daa;
    position: absolute;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    transform: rotate(-90deg);
    list-style: none;
    left: 0;
}
.leyendaHours {
    opacity: 0.7;
    font-weight: 700;
    margin-inline: 10px;
    margin-bottom: 40px;
}
.containerFullHours,
.containerFullDays {
    max-width: 1200px;
    margin-inline: auto;
}

.divWindHours,
.divPrecipitationHours,
.divPosibilityPrecipitation,
.divHpa {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
.hoverDivHours {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #64c7ff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.4s ease;
}

.itemdayHours:hover .hoverDivHours {
    opacity: 1;
    visibility: visible;
}

.temperatureHours {
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
}
.divTemperaturaHours {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.monthHours {
    font-size: 14px;
    opacity: 0.6;
    font-weight: 700;
    margin-left: 5px;
}
.divWeatherTempDays {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.tempDays {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}
.divCurrentDayHours {
    display: flex;
    align-items: start;
    flex-direction: column;
}

.nameOfDay {
    font-weight: 700;
    padding: 5px;
    width: 100%;
    color: #fff;
}
.isCurrentDay {
    background-color: #05fff254;
    color: #fff;
}
.precPosibilityDays {
    font-weight: 700;
    padding-bottom: 10px;
    font-size: 13px;
}
.numberPropForecast {
    font-weight: 700;
    font-size: 13px;
}
.headerText {
    padding-top: 20px;
}

.divTitleWithoutData {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 75vh;
}

.rebote {
    height: 100px;
    animation: reboteAnimacion 3s infinite;
}

@keyframes reboteAnimacion {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.loading {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.darkMode {
    color: var(--text-color-dark);
    background-color: var(--background-color-dark);
}
.headerLayaout.darkMode .itemLiHeader {
    background-color: transparent;
    color: #fff;
}
.headerLayaout.darkMode .itemLiHeader:hover {
    background-color: rgba(246, 247, 249, 0.05);
    opacity: 1;
}

/* diseño responsive only mobile */
@media (max-width: 768px) {
    .ulHome {
        flex-direction: column;
        width: 100vw;
    }
    .liHome {
        height: 50vh;
        width: 100vw;
    }
    .listaNavHeader {
        flex-direction: column;
    }
    .navHeaderLayout {
        height: 30vh;
    }
    .containerDaysWeek {
        flex-direction: column;
        height: auto;
        padding-bottom: 40px;
        gap: 5px;
    }
    .itemDayWeek {
        width: 80%;
    }
    .containerFullDays .leyendaHours:first-of-type,
    .containerFullHours .leyendaHours:first-of-type {
        padding-top: 20px;
    }
    .containerFullDays,
    .containerFullHours {
        max-width: 390px;
    }
    .ulDaysHours {
        flex-direction: column;
        width: 80%;
        overflow-x: auto;
        gap: 5px;
    }
    .itemdayHours {
        width: 100%;
        min-height: 150px;
    }
    .divPrecipitationHours,
    .divTemperaturaHours,
    .divWindHours {
        flex-direction: row;
        justify-content: space-between;
        width: 60%;
    }
}

/* diseño responsive only mobile */
