*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --bg-green: #f2f7e3;
}
@font-face {
  font-family: 'source-sans-regular';
  src: url('./SourceSansPro-Regular.ttf');
}
@font-face {
  font-family: 'source-sans-light';
  src: url('./SourceSansPro-Light.ttf');
}
@font-face {
  font-family: 'source-sans-medium';
  src: url('./SourceSansPro-Semibold.ttf');
}
html {
  background-color: var(--bg-green);
  /* min-height: 100vh; */
}

body {
  font-family: source-sans-regular;
  /* min-height: 100vh; */
}
